# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea

AdvancedList_solution.py
EmployeeClass_solution.py
NumbersToEnglish_solution.py
test_QA_job_solution.py

*.zip
QA_job_test/
